*,
*::before,
*::after {
	box-sizing: border-box;
}

[hidden] {
	display: none !important;
}

html {
	color-scheme: dark;
	font-size: 16px;
	background: #1b1b24;
	accent-color: #00aff4;
}

body {
	margin: 0;
	font:
		1rem/1.5 -apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Helvetica,
		Arial,
		sans-serif;
	color: #c6d4df;
}

a {
	color: inherit;
}

a:hover {
	color: #fff;
}

:target {
	outline: 3px solid #00aff4;
	outline-offset: 5px;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4 {
	margin: 0 0 0.5rem;
	font-weight: normal;
	line-height: 1;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	margin-top: 3rem;
	font-size: 1.75rem;
	font-weight: 600;
	font-style: italic;
	color: #fff;
	text-transform: uppercase;
}

h4 {
	font-size: 1.25rem;
}

h3:first-child {
	margin-top: 0;
}

p {
	margin: 0 0 1rem;
}

summary {
	cursor: pointer;
}

summary:hover {
	color: #fff;
	text-decoration: underline;
}

.muted {
	font-size: 80%;
	color: #999;
}

.container {
	margin: 0 auto;
	padding: 1rem 2rem;
	width: 100%;
	max-width: 34rem;
}

.built-in-checkboxes {
	margin-top: 3rem;
	color: #888;
}

header {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #0197cf;
	background-color: #000;
	color: #fff;
}

header .logo {
	font-size: 20px;
}

header svg {
	vertical-align: middle;
}

#localization {
	background-color: #16161d;
	color: #888;
	direction: ltr;
}

#localization .container {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

footer {
	margin-top: 3rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-top: 1px solid #0197cf;
	background-color: #000;
	color: #34c8fe;
	text-align: center;
}

footer svg {
	margin-bottom: 1rem;
}

footer p {
	margin-bottom: 0.5rem;
}

.checkbox {
	display: flex;
	gap: 0.4rem;
	margin-top: 0.4rem;
}

:focus,
.checkbox:focus {
	outline: solid;
	outline-color: #00aff4;
	outline-offset: 4px;
	outline-width: 2px;
}

.checkbox > input {
	width: 1rem;
	height: 1rem;
	margin: 0;
	margin-top: 0.3rem;
	flex-shrink: 0;
}

#welcome {
	padding-bottom: 1rem;
	margin-top: 1rem;
	color: #34c8fe;
	text-wrap: balance;
	text-wrap: pretty;
}

#welcome h2 {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 1rem;
}

#permissions {
	background: #000;
	color: #fff;
	border-bottom: 0.4rem solid red;
	margin-top: 1rem;
	padding: 1rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

#star {
	background: #000;
	color: #fff;
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	font-weight: bold;
}

#js-get-permissions {
	appearance: none;
	border: 0;
	border-radius: 0.5rem;
	background: #0064ff;
	color: #fff;
	font: inherit;
	font-weight: bold;
	line-height: 1;
	padding: 0.8rem 1rem;
	width: 100%;
}

#js-get-permissions:focus,
#js-get-permissions:hover {
	background: #00f;
	color: #fff;
}

@media (max-width: 34rem) {
	.container {
		padding: 1rem;
	}
}
