.steamdb_achievements_csrating {
	width: 100%;
	border-spacing: 0;
	border: solid 1px #2c405b;
	color: #c6d4df;
	background-color: #1b2838;
	font-variant-numeric: tabular-nums;
}

.steamdb_achievements_csrating-value {
	font-weight: bold;
}

.steamdb_achievements_csrating-tier0 {
	color: #b0c3d9;
}

.steamdb_achievements_csrating-tier1 {
	color: #8cc6ff;
}

.steamdb_achievements_csrating-tier2 {
	color: #6a7dff;
}

.steamdb_achievements_csrating-tier3 {
	color: #c166ff;
}

.steamdb_achievements_csrating-tier4 {
	color: #f03cff;
}

.steamdb_achievements_csrating-tier5 {
	color: #eb4b4b;
}

.steamdb_achievements_csrating-tier6 {
	color: #ffd700;
}

.steamdb_achievements_csrating tr:nth-child(odd) {
	background-color: rgb(0 0 0 / 20%);
}

.steamdb_achievements_csrating tr:hover {
	background-color: rgb(255 255 255 / 20%);
}

.steamdb_achievements_csrating th {
	background-color: #0197cf;
	padding-left: 10px;
}

.steamdb_achievements_csrating .steamdb_achievements_csrating_season {
	background-color: #417a9b;
}

.steamdb_achievements_csrating td {
	padding: 10px;
}

.steamdb_achievements_csrating_negative {
	color: #f44336;
}

.steamdb_achievements_csrating_positive {
	color: #0b8;
}

.steamdb_achievements_csrating_significant {
	font-weight: bold;
}

.steamdb_achievements_csrating_graph {
	display: block;
	height: 200px;
	width: 100%;
}

.community_tooltip.steamdb_achievements_csrating_graph_tooltip {
	display: none;
	position: absolute;
	white-space: pre;
	font-size: 14px;
	font-weight: 500;
	z-index: 9999;
}
