.apphub_AppIcon {
	display: block !important;
	position: relative;
	height: 32px;
	width: 32px;
	float: left;
	margin-top: 4px;
	margin-left: 12px;
	margin-right: 10px;
}

.apphub_AppIcon > img {
	height: 32px;
	width: 32px;
	border-radius: 3px; /* hide the terrible jpeg rounded corner */
}

.game_page_background .apphub_AppIcon {
	margin-left: 0;
}
