/* Valve's silly css fix */
.apphub_AppName {
	padding-right: 30px;
	max-width: none !important;
	float: none !important;
}

.apphub_OtherSiteInfo .btn_medium {
	position: relative;
	z-index: 1;
}

#oggLogo img {
	height: 200px;
}

.steamdb_ogg_icon {
	width: 16px;
	height: 16px;
}

.steamdb_button_small > span {
	padding: 0 7px;
}
