/**
 * Valve has these styles inlined, instead of having them in their .css
 */
.apphub_OtherSiteInfo .btn_medium {
	position: relative;
	z-index: 1;
}

/**
 * Fix game group logo overflowing on old group page
 */
#oggLogo img {
	height: 200px;
}

/**
 * We make it clickable
 */
a.apphub_NumInApp {
	text-decoration: underline;
}

a.apphub_NumInApp:hover {
	text-decoration: none;
	color: #00E676;
}

.btn_steamdb.btn_medium .ico16 {
	background: none;
	vertical-align: -10px; /* ugh */
}

.steamdb_ogg_icon {
	width: 16px;
	height: 16px;
}

.steamdb_popup_icon {
	width: 18px;
	height: 18px;
}

.steamdb_self_profile {
	width: 16px;
	height: 16px;
	margin: 7px 0;
	vertical-align: top;
}

.profile_small_header_additional.steamdb {
	margin-top: 40px;
}

.tab.steamdb_stats_tab {
	float: right;
}

.steamdb_stats_tab .tabOn {
	background: hsl(202, 41%, 25%);
}

.steamdb_stats_tab .tabOn:hover {
	background: hsl(202, 41%, 43%);
}
