/**
 * Valve has these styles inlined, instead of having them in their .css
 */
.apphub_OtherSiteInfo .btn_medium {
	position: relative;
	z-index: 1;
}

/**
 * Fix game group logo overflowing on old group page
 */
#oggLogo img {
	height: 200px;
}

/**
 * We make it clickable
 */
a.apphub_NumInApp {
	text-decoration: underline;
}

a.apphub_NumInApp:hover {
	text-decoration: none;
	color: #00e676;
}

.btn_steamdb.btn_medium .ico16 {
	background: none;
	vertical-align: -10px; /* ugh */
}

.steamdb_ogg_icon {
	width: 16px;
	height: 16px;
}

.steamdb_popup_icon {
	width: 18px;
	height: 18px;
}

.steamdb_self_profile {
	width: 16px;
	height: 16px;
	margin: 7px 0;
	vertical-align: top;
}

.steamdb_drops_remaining {
	border-radius: 2px;
	display: inline-block;
	background: rgb(0 0 0 / 30%);
	padding: 1px 5px;
	font-size: 12px;
	line-height: 20px;
}

.profile_small_header_additional.steamdb {
	margin-top: 40px;
}

.steamdb_gamecards_inventorylink {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	align-items: center;
}

.steamdb_reveal_spoilers_button {
	cursor: pointer;
	align-items: center;
	gap: 5px;
}

.steamdb_reveal_spoilers_button:has(input:checked) {
	background: #2d6bcd;
	color: #fff;
}

.steamdb_reveal_spoilers_button > input {
	margin: 0;
	color-scheme: dark;
	cursor: pointer;
}

span.bb_spoiler.steamdb_spoiler_revealed {
	background-color: rgb(0 0 0 / 50%);
	color: #fff;
}

span.bb_spoiler.steamdb_spoiler_revealed > span {
	visibility: visible;
}
