.steamdb_market_retry_button {
	margin-top: 15px;
}

.steamdb_market_loader[hidden] {
	display: block;
	visibility: hidden;
}

.steamdb_market_loader {
	margin: 0 auto;
	width: 90px;
	height: 14px;

	--c: #fff 92%, #0000;

	background:
		radial-gradient(circle closest-side, var(--c)) calc(100% / -4) 0,
		radial-gradient(circle closest-side, var(--c)) calc(100% / 4) 0;
	background-size: calc(100% / 2) 100%;
	animation: steamdb-market-loader 1.5s infinite;
}

@keyframes steamdb-market-loader {
	0% {
		background-position:
			calc(100% / -4) 0,
			calc(100% / 4) 0;
	}

	50% {
		background-position:
			calc(100% / -4) -14px,
			calc(100% / 4) 14px;
	}

	100% {
		background-position:
			calc(100% / 4) -14px,
			calc(3 * 100% / 4) 14px;
	}
}
