a.steamdb_link:hover {
	text-decoration: underline;
}

.game_area_purchase_game a.steamdb_link,
html.responsive .game_area_purchase_game a.steamdb_link {
	color: #ebebeb !important;
}

.steamdb_error_link {
	margin-top: 25px;
	text-align: center;
}

.steamdb_agecheck_hint {
	margin-top: 25px;
	text-align: center;
}

.steamdb_agecheck_hint a {
	text-decoration: underline;
}

.game_area_purchase_game .steamdb_link {
	position: absolute;
	left: 0;
	top: 10px;
}

.game_area_purchase_game .steamdb_link[hidden] {
	visibility: hidden;
	pointer-events: none;
}

.game_purchase_sub_dropdown .steamdb_link {
	position: absolute;
	top: unset;
	bottom: -9px;
	left: 16px;
}

.linkbar_steamdb {
	display: none !important;
}

@media (max-width: 500px) {
	.game_purchase_sub_dropdown .steamdb_link {
		position: relative;
		top: unset;
		bottom: unset;
		left: unset;
		margin-bottom: 20px;
	}

	html.responsive .game_purchase_action .steamdb_link {
		position: relative;
		align-self: start;
		margin-right: auto;
	}

	html.responsive .linkbar_steamdb {
		display: block !important;
	}
}

#widget .steamdb_link {
	vertical-align: 6px;
	margin-left: 10px;
}

.btn_steamdb .ico16 {
	background: none;
}

.date:not(:hover) .steamdb_last_update_old {
	color: #f44336;
}

.steamdb_stats {
	font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

.steamdb_stats .block_content_inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}

.steamdb_stats_logo {
	width: 54px;
	height: 54px;
	opacity: 0.5;
	transition: opacity 0.1s ease-in-out;
}

.steamdb_stats:hover .steamdb_stats_logo {
	opacity: 1;
}

.steamdb_stats_grid {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 2px 10px;
	white-space: nowrap;
	font-size: 12px;
	color: #8f98a0;
}

.steamdb_stats_number {
	font-weight: bold;
	color: #67c1f5;
}

.steamdb_stats p:last-child {
	margin-bottom: 0;
}

.steamdb_last_update {
	padding-bottom: 13px;
}

.steamdb_last_update .date {
	unicode-bidi: plaintext;
}

.glance_ctn .release_date + .steamdb_last_update {
	margin-top: -13px;
}

.steamdb_last_update a {
	display: block;
}

#error_display .steamdb_registerkey_lineitem {
	margin-top: 20px;
}

.steamdb_registerkey_lineitem img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: text-top;
}

.steamdb_prices {
	background-color: rgb(0 0 0 / 20%);
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 8px 16px;
	font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
	color: #c6d4df;
	display: flex;
	gap: 10px;
}

.steamdb_prices_bottom {
	font-style: italic;
	font-size: 12px;
	color: #8f98a0;
}

.steamdb_prices img {
	align-self: center;
	width: 32px;
	height: 32px;
	opacity: 0.5;
	transition: opacity 0.1s ease-in-out;
}

.steamdb_prices:hover img {
	opacity: 1;
}

.steamdb_prices:hover .steamdb_prices_top {
	text-decoration: underline;
}

.steamdb_prices:hover .steamdb_prices_bottom {
	color: #c6d4df;
}

.steamdb_prices_top b {
	font-weight: bold;
	color: #a3cf06;
	unicode-bidi: plaintext;
}

a.steamdb_rating.steamdb_rating_good {
	color: #6c3 !important;
}

a.steamdb_rating.steamdb_rating_average {
	color: #fc3 !important;
}

a.steamdb_rating.steamdb_rating_poor {
	color: #e60 !important;
}

a.steamdb_rating.steamdb_rating_white {
	color: #aaa !important;
}

a.steamdb_rating:hover {
	color: #fff;
}

.steamdb_already_in_library_link {
	color: inherit;
}

.steamdb_already_in_library_link:hover {
	color: #fff;
	text-decoration: underline;
}

.steamdb_already_in_library_collapse {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding: 0 10px;
	border: 0;
	background: transparent;
	cursor: pointer;
}

.steamdb_already_in_library_collapse:hover,
.steamdb_already_in_library_collapse:focus {
	background: hsl(73deg 94% 42% / 50%);
}

.steamdb_already_in_library_collapse > .graph_toggle_icon {
	margin: 0;
}

.steamdb_saleitem_claim,
.steamdb_cheat_queue {
	display: flex;
	align-items: center;
	gap: 8px 15px;
}

.steamdb_cheat_queue.discovery_queue_customize_ctn {
	margin-bottom: 0;
	border-bottom: 0;
}

.steamdb_saleitem_claim .btn_medium,
.steamdb_cheat_queue .btn_medium {
	margin: 0;
}

.steamdb_cheat_queue_text {
	margin-right: auto;
}

/**
 * Fix for very long game names not overflowing correctly
 */
.apphub_AppName {
	word-wrap: break-word;
}

/**
 * Fix date not fitting after we insert subid links
 */
.account_table th {
	min-width: 100px;
}

@media (max-width: 500px) {
	html.responsive .steamdb_stats .block_content_inner {
		margin-top: 0;
	}

	.steamdb_saleitem_claim,
	.steamdb_cheat_queue {
		flex-wrap: wrap;
	}
}
