@media all and (min-width: 1208px) {
	body:not(.no_home_gutter) div#global_header .content,
	body:not(.no_home_gutter) div#store_header .content,
	body:not(.no_home_gutter) div#store_header_dlc .content,
	body:not(.no_home_gutter) .home_page_takeover_link img {
		left: 0 !important;
		right: 0 !important;
		width: 940px !important;
	}
}

@media all and (min-width: 1385px) {
	body:not(.no_home_gutter) .home_page_gutter {
		margin-left: -204px !important;
	}
	
	body:not(.no_home_gutter) .home_page_content,
	body:not(.no_home_gutter) .footer_content,
	body:not(.no_home_gutter) .hardware_ctn {
		padding-left: 16px !important;
	}
	
	body:not(.no_home_gutter) .home_page_body_ctn .page_background_holder {
		left: 0 !important;
		right: 0 !important;
	}
}
