@media all and (min-width: 1208px) {
	div#global_header .content,
	div#store_header .content,
	div#store_header_dlc .content,
	.home_page_takeover_link img {
		left: 0 !important;
		right: 0 !important;
		width: 940px !important;
	}
}

@media all and (min-width: 1385px) {
	.home_page_gutter {
		margin-left: -204px !important;
	}
	
	.home_page_content, .footer_content {
		padding-left: 16px !important;
	}
	
	.home_page_body_ctn .page_background_holder {
		left: 0 !important;
		right: 0 !important;
	}
}
